.home{
    display: flex;
    margin: 2rem 5rem;
    flex-direction: column;

    h2{
        font-size: 32px;
        margin-bottom: 10px;
    }
    p{
        color: rgba(0, 0, 0, 0.637);
    }
}
.lista_de_graficos{
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
    align-items: center;
    gap: 25px;
    h3{
        font-size: 32px;
        margin-top: 20px;
    }
    img{
        border-radius: 16px;
    }
}
.tabela_grafico{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.349);
    border-radius: 16px;
    padding: 30px 5px;
    gap: 60px;
    align-items: center;
}
.tabela-container {
    width: 75%;
    max-width: 1100px;

    margin: 40px auto;

    overflow-x: auto;
    overflow-y: hidden;

    -webkit-overflow-scrolling: touch;
}


#tabela {
    width: 75%;
    min-width: 900px;

    border-collapse: collapse;

    font-family: Arial, sans-serif;

    table-layout: fixed;

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

    border-radius: 8px;
}



#tabela thead {
    background-color: #f1f5f9;
    color: #1e293b;
}

#tabela th {
    padding: 12px 10px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #dbe3ec;
    white-space: nowrap;
}



#tabela td {
    padding: 12px 10px;
    color: #334155;
    font-size: 13px;
    border-bottom: 1px solid #edf1f5;
    vertical-align: middle;
}



#tabela tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}



#tabela tbody tr:hover {
    background-color: #eeeeee;
}



#tabela tbody tr:last-child td {
    border-bottom: none;
}

#tabela td:nth-child(1) {
    color: #008f5a;
    font-weight: 600;
}

@media(max-width: 1350px){
    .lista_de_graficos{
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem;
        align-items: center;
        gap: 25px;
    h3{
        font-size: 32px;
    }
    img{
        border-radius: 16px;
        width: auto;
    }
}
    .tabela_grafico{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.349);
        border-radius: 16px;
        padding: 20px 60px;
        gap: 60px;
        align-items: center;

        img{
            width: auto;
        }
}
}
@media (max-width: 950px) {

    .home {
        margin: 30px 2rem;
    }
    .lista_de_graficos{
        display: flex;
        flex-direction: column;
        margin: 1rem 2rem;
        max-width: 20%;
        .tabela_grafico{
            padding: 1rem auto;
            h3{
                max-width: 50%;
                flex-wrap: wrap;
            }
              .tabela-container {
                padding: 1rem;
                width: calc(100% - 30px);

                margin: 30px auto;

                overflow-x: auto;
                overflow-y: hidden;
    }
        }
    }

    .home h2 {
        font-size: 26px;
    }

    .tabela-grafico{
        width: 20%;
    }

    #tabela {
        width: 900px;
        min-width: 900px;
    }

    #tabela th,
    #tabela td {
        padding: 10px 8px;
        font-size: 12px;
    }
}
