footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 252, 252);
    padding: 30px 20px;
    margin-top: 100px;
    justify-content: center;
    
    p{
        margin-top: 5px;
    }
}
@media(max-width:800px){
    footer{
        padding: 30px 55px;
        p{
            font-size: 14px;
            flex-wrap: wrap;
        }
    }
}